{% if basket.rate %}
    {% if badge|default(false) %}<span class="badge badge-dark mr-1">{{ basket.rate }}</span>рублей{% endif %}
    {% if not basket.isRateFinal %}
        <i class="fa fa-exclamation-circle pointer"
           data-toggle="tooltip"
           title="Курс $ – предварительный. Окончательный будет проставлен после того, как платеж магазину будет подтвержден банком."
           style="color: #ec407a"
        ></i>
    {%- endif -%}
{% else %}
    <i class="fa fa-exclamation-circle pointer"
       data-toggle="tooltip"
       title="Заказу еще не проставлен курс $"
       style="color: #ec407a"
    ></i>
{%- endif -%}