{% extends 'layout/base.html.twig' %}

{% block title %}Главная{{ parent() }}{% endblock %}

{% block body %}

<h3 class="my-5 h3 text-center">Cовместные покупки в интернет-магазинах США и Европы</h3>



<section>

    <div class="row wow fadeIn">

        <div class="col-lg-6 col-md-12 px-4">

            <div class="row">
                <div class="col-1 mr-3">
                    <i class="fas fa-check-circle fa-2x indigo-text"></i>
                </div>
                <div class="col-10">
                    <h5 class="feature-title">Мы объединяемся, чтобы получить лучшие условия и сэкономить на доставке</h5>
                    <p>Подробнее в разделе <a href="{{ path('info_profit') }}">В чем выгода совместных покупок?</a></p>
                </div>
            </div>

            <div class="row">
                <div class="col-1 mr-3">
                    <i class="fas fa-check-circle fa-2x indigo-text"></i>
                </div>
                <div class="col-10">
                    <h5 class="feature-title">Что и где можно заказать?</h5>
                    <p>Можно заказать любой товар в любом магазине.  <a href="{{ path('info_profit') }}">В чем выгода совместных покупок?</a></p>
                </div>
            </div>

        </div>

        <div class="col-lg-6 col-md-12 px-4">



        </div>

    </div>

</section>

<hr class="my-5">

{% endblock %}
