<form method="POST" action="{{ path('admin_search') }}">
    <div class="input-group input-group-sm">
        <input type="text" name="search_item" class="form-control" placeholder="Поиск..." value="{{ search_string ?? '' }}" required>
        <div class="input-group-append">
            <button type="submit" class="btn btn-secondary">
                <span class="fa fa-search"></span>
            </button>
        </div>
    </div>
</form>