{% extends 'admin/layout/base_admin.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-12">

            <table class="table table-sm table-hover">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Email</th>
                    <th scope="col">Name</th>
                    <th scope="col">...</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>2</td>
                        <td>3</td>
                        <td>...</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

{% endblock %}
