{% extends 'layout/base.html.twig' %}

{% block title %}Админка{{ parent() }}{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-12 col-lg-8">
        {% block serch_result %}{% endblock %}
    </div>
    <div class="col-md-12 col-lg-4">
        321
    </div>
</div>

{% endblock %}