{% extends 'layout/base.html.twig' %}

{% block title %}Доставка{{ parent() }}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-sm-12 col-lg-8 offset-lg-2">
            <h1 class="align-self-center">Доставка – стоимость и сроки</h1>
            <hr>

            <p class="note note-info"><strong>Форвардер</strong> – это транспортная компания, на адрес которой в США или Германии   поступают все наши заказы, и которая везет нам их через границу и таможню в Россию.</p>

            <p>Доставка делится на три части.</p>

            <h2>1. Доставка по США/Европе</h2>
            <p>Интернет-магазин → склад форвардера в США или Германии.</p>
            <p>Примерный срок 3-5 дней</p>
            <p>Стоимость: бесплатно при определенной сумме заказа.</p>

            <p>Вот список самых популярных магазинов и их пороги бесплатной доставки:</p>
            <ul>
                <li><a href="https://www.coolstuffinc.com/"></a>coolstuffinc.com – 100$</li>
                <li><a href="https://www.trollandtoad.com/"></a>trollandtoad.com – 25$ (только синглы, протекторы и бустеры), если в заказе есть другой товар, доставка платная</li>
                <li><a href="http://www.starcitygames.com/"></a>starcitygames.com – бесплатной доставки нет</li>
                <li><a href="https://channelfireball.com/"></a>channelfireball.com – 75$ (любой товар), или 25$, если в заказе только синглы</li>
                <li><a href="https://www.miniaturemarket.com/"></a>miniaturemarket.com – 99$</li>
                <li><a href="https://www.amazon.com/"></a>amazon.com – 25$</li>
                <li><a href="https://www.ebay.com/"></a>ebay.com – зависит от лота</li>
            </ul>









            Мы ВСЕГДА набираем на бесплатную доставку с coolstuffinc.com, так что предлагаю этот магазин в первую очередь. Еще у нас там есть скидка: 4% на все синглы и миниатюры и 1,5% на все остальное.

            На самом деле вы можете заказать товар из любого другого магазина, но тогда вам нужно будет одному оплатить доставку по США, либо же одному набрать товаров на бесплатную доставку.



            <h2>2. Международная доставка (от форвардера до Воронежа)</h2>
            Срок примерно 10 дней, возможна задержка на несколько дней на таможне.

            Стоимость рассчитывается по весу ваших товаров, 10$ за кг.
            Если вы заказываете синглы, к стоимости добавляется 2$ за каждые 30 шт. Вес одной карты принимается за 3 грамма.

            <h3>3. Доставка из Воронежа.</h3>
            Для воронежцев бесплатно (личная встреча). Для иногородних – почтой или другим доступным способом по договоренности.
        </div>
    </div>

{% endblock %}










