{% extends 'layout/base.html.twig' %}

{% block title %}Доставка{{ parent() }}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-sm-12 col-lg-8 offset-lg-2">
            <h1 class="align-self-center">Доставка – стоимость и сроки</h1>
            <hr>
            <p class="note note-info"><strong>Форвардер</strong> – это транспортная компания, на адрес которой в США или Германии   поступают все наши заказы, и которая везет нам их через границу и таможню в Россию.</p>
            <p>Доставка делится на три части.</p>

            <h4>1. Доставка по США/Европе</h4>
            <p>Это доставка из интернет-магазина до склад форвардера в США или Германии. Примерный срок 3-5 дней. Стоимость: бесплатно при определенной сумме заказа.</p>
            <p>Вот список самых популярных магазинов и их пороги бесплатной доставки:</p>
            <ul>
                <li><a href="https://www.coolstuffinc.com/">coolstuffinc.com</a> – 100$ (у нас там есть скидка: 4% на все синглы и миниатюры и 1,5% на все остальное)</li>
                <li><a href="https://www.trollandtoad.com/">trollandtoad.com</a> – 25$ (только синглы, протекторы и бустеры), если в заказе есть другой товар, доставка платная</li>
                <li><a href="http://www.starcitygames.com/">starcitygames.com</a> – бесплатной доставки нет</li>
                <li><a href="https://channelfireball.com/">channelfireball.com</a> – 75$ (любой товар), или 25$, если в заказе только синглы</li>
                <li><a href="https://www.miniaturemarket.com/">miniaturemarket.com</a> – 99$</li>
                <li><a href="https://www.amazon.com/">amazon.com</a> – 25$</li>
                <li><a href="https://www.ebay.com/">ebay.com</a> – зависит от лота</li>
            </ul>
            <p>На самом деле вы можете заказать товар из любого другого магазина, но тогда вам нужно будет одному оплатить доставку по США/Европе, либо же одному набрать товаров на бесплатную доставку.</p>

            <h4 class="mt-3">2. Международная доставка (от форвардера в Россию)</h4>
            <p>Срок примерно 10 дней, возможна задержка на несколько дней на таможне. Стоимость рассчитывается по весу ваших товаров, 10$ за кг. Если вы заказываете синглы, к стоимости добавляется 2$ за каждые 30 шт. Вес одной карты принимается за 3 грамма.</p>

            <h4 class="mt-3">3. Доставка по России</h4>
            <p>Почтой Росии или другим доступным способом по договоренности.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-lg-8 offset-lg-2">
            <hr>
            <h4>Пример – заказ из одних синглов (отдельных карт)</h4>
            <p>Допустим, вы хотите купить 20 шт. Тарифы: 2$ – обязательный сбор за синглы, 10$ – стоимость 1кг.</p>
            <p>
                20шт. * 3г = 60г – вес карт<br>
                60г * 10$ = 0.6$ – стоимость доставки карт по весу<br>
                0.6$ + 2$ = 2.6$ – окончательная стоимость<br>
                <br>
                То есть по курсу 68 руб. за доллар = 177 руб.<br>
                <br>
                Учитывая, что по России заказное письмо в среднем стоит 70+ руб., цена в 177 руб. за пакет из противоположной части мира – это очень вкусно.</p>
        </div>
    </div>

{% endblock %}










