{% extends 'layout/base.html.twig' %}

{% block title %}Политика в отношении обработки персональных данных{{ parent() }}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-sm-12 col-lg-8 offset-lg-2">
            <h1 class="align-self-center">Политика в отношении обработки персональных данных</h1>
            <hr>
            <p>1. Общие положения</p>
            <p class="ml-3">1.1. Политика в отношении обработки персональных данных (далее — Политика) направлена на защиту прав и свобод пользователей – физических лиц, персональные данные которых обрабатывает сайт {{ app_site_name }} (далее — Оператор).</p>
            <p class="ml-3">1.2. Политика разработана в соответствии с действующей редакцией Федерального закона от 27.07.2006 N 152-ФЗ «О персональных данных» (далее — ФЗ «О персональных данных»).</p>
            <p class="ml-3">1.3. Политика содержит сведения, подлежащие раскрытию в соответствии с ч. 1 ст. 14 ФЗ «О персональных данных», и является общедоступным документом.</p>
            <p>2. Сведения об операторе</p>
            <p class="ml-3">2.1. Оператор – сайт {{ app_site_name }}, его законные владельцы и представители.</p>
            <p>3. Сведения об обработке персональных данных</p>
            <p class="ml-3">3.1. Оператор обрабатывает персональные данные на законной и справедливой основе для выполнения возложенных законодательством функций, полномочий и обязанностей, осуществления прав и законных интересов Оператора и третьих лиц.</p>
            <p class="ml-3">3.2. Оператор получает персональные данные непосредственно у субъектов персональных данных.</p>
            <p class="ml-3">3.3. Оператор обрабатывает персональные данные автоматизированным и неавтоматизированным способами, с использованием средств вычислительной техники и без использования таких средств.</p>
            <p class="ml-3">3.4. Действия по обработке персональных данных включают сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление и уничтожение.</p>
            <p>4. Обработка персональных данных пользователей</p>
            <p class="ml-3">4.1. Оператор обрабатывает персональные данные пользователей в рамках правоотношений с Оператором, урегулированных частью второй Гражданского Кодекса Российской Федерации от 26 января 1996 г. № 14-ФЗ, (далее — клиентов).</p>
            <p class="ml-3">4.2. Оператор обрабатывает персональные данные пользователей в целях соблюдения норм законодательства РФ, а также с целью:<br>— информировать о новых услугах, специальных акциях и предложениях.</p>
            <p class="ml-3">4.3. Оператор обрабатывает персональные данные пользователей с их согласия, предоставляемого пользователями путем совершения конклюдентных действий на настоящем интернет-сайте, в том числе, но не ограничиваясь, регистрацией в личном кабинете, оформлением заказа, подпиской на рассылку, в соответствии с настоящей Политикой.</p>
            <p class="ml-3">4.4. Оператор обрабатывает персональные данные пользователей не дольше, чем того требуют цели обработки персональных данных, если иное не предусмотрено требованиями законодательства РФ.</p>
            <p class="ml-3">4.5. Оператор обрабатывает следующие персональные данные пользователей:
                <br>— Фамилия, имя, отчество;
                <br>— Адрес;
                <br>— Номер контактного телефона;
                <br>— Адрес электронной почты;
                <br>— Дата рождения;
                <br>— Серия, номер, дата выдачи и орган выдачи паспорта гражданина Российской Федерации;
                <br>— ИНН.</p>
            <p>5. Сведения об обеспечении безопасности персональных данных</p>
            <p class="ml-3">5.1. Оператор применяет комплекс правовых, организационных и технических мер по обеспечению безопасности персональных данных для обеспечения конфиденциальности персональных данных и их защиты от неправомерных действий:
                <br>— обеспечивает неограниченный доступ к Политике на настоящем интернет-сайте;
                <br>— устанавливает правила доступа к персональным данным, обрабатываемым в информационной системе Оператора, а также обеспечивает регистрацию и учёт всех действий с ними;
                <br>— применяет организационные и технические меры и использует средства защиты информации, необходимые для достижения установленного уровня защищенности персональных данных;
                <br>— осуществляет обнаружение фактов несанкционированного доступа к персональным данным и принимает меры по реагированию, включая восстановление персональных данных, модифицированных или уничтоженных вследствие несанкционированного доступа к ним;
                <br>— производит оценку эффективности принимаемых мер по обеспечению безопасности персональных данных до ввода в эксплуатацию информационной системы Оператора.</p>
            <p>6. Права субъектов персональных данных</p>
            <p class="ml-3">6.1. Субъект персональных данных имеет право:
                <br>— на получение персональных данных, относящихся к данному субъекту, и информации, касающейся их обработки;
                <br>— на уточнение, блокирование или уничтожение его персональных данных в случае, если они являются неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной цели обработки;
                <br>— на отзыв данного им согласия на обработку персональных данных
                <br>– а также иные действия, предусмотренные законодательством Российской Федерации.</p>
            <p class="ml-3">6.2. Для реализации своих прав и законных интересов субъекты персональных данных имеют право обратиться к Оператору.</p>
        </div>
    </div>

{% endblock %}
