{% extends 'layout/base.html.twig' %}

{% block title %}В чем выгода?{{ parent() }}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-sm-12 col-lg-8 offset-lg-2">
            <h1 class="align-self-center">В чем выгода совместных покупок?</h1>
            <hr>

            <h5><i class="fas fa-check"></i> Экономия на доставке по США</h5>
            <p>Как правило, у интернет-магазинов есть бесплатная доставка по США от какой-то определенной суммы, чаще всего в пределах 25$-100$. И если вам нужны товары на меньшую сумму, вам придется или платить за доставку, или покупать больше товаров. Поэтому мы объединяем несколько небольших заказов от разных людей в одном и том же магазине и набираем на бесплатную доставку.</p>
            <p>Пороговые суммы для бесплатной доставки для самых популярных магазинов можете посмотреть в статье <a href="{{ path('info_delivery') }}">Доставка</a>.</p>

            <h5><i class="fas fa-check"></i> Экономия на доставке в Россию</h5>
            <p>На складе форвардера посылки из разных интернет-магазинов переупаковываются и объединяются в одну или несколько больших посылок, которые идут в Россию. Переупаковка уменьшает совокупный вес, а объединение позволяет пользоваться чуть более выгодными тарифами. В целом это дешевле, чем если бы каждая посылка из магазина через форвардера шла в Россию, и намного дешевле – чем если бы она отправляласть магазином в Россию напрямую.</p>

            <h5><i class="fas fa-check"></i> Возможность заказать в магазинах, у которых нет доставки в Россию</h5>
            <p>Часть интернет-магазинов в США вообще не отправляет в Россию. Так как мы заказываем на адрес форвардера, такой проблемы нет.</p>

            <h5><i class="fas fa-check"></i> Минимум действий с вашей стороны</h5>
            <p>Фактически вам нужно потрудиться один раз: собрать в одном месте, на нашем сайте, все ваши желаемые товары. То есть внести для каждого товара ссылку, количество и цену. Далее, после всех необходимых согласований оплачиваете. И через некоторое время получаете посылку.</p>
            <p>Подробно процесс заказа описан в статье <a href="#">Как принять участие</a>.</p>

            <h5><i class="fas fa-check"></i> Гарантия от нашего сайта</h5>
            <p>Гарантия от нас заключается в том, что вы получаете товар, или, в случае проблем с товаром, возврат денег от магазина/форвардера.</p>
            <p>Более подробно это описано в статье <a href="#">Наша гарантия</a>.</p>
        </div>
    </div>

{% endblock %}










