{% extends 'layout/base.html.twig' %}

{% block title %}В чем выгода?{{ parent() }}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-sm-12 col-lg-8 offset-lg-2">
            <h1 class="align-self-center">В чем выгода совместных покупок?</h1>
            <hr>

            <h5><i class="fas fa-check-circle indigo-text pr-2"></i> Экономия на доставке по США</h5>
            <p>Как правило, у интернет-магазинов есть бесплатная доставка по США/Европе, начиная от какой-то определенной суммы заказа, обычно в пределах 25$-100$. Если вы один, вам придется или платить за доставку, или покупать больше товаров.</p>
            <p>Мы объединяем несколько небольших заказов от разных людей в одном и том же магазине и набираем на бесплатную доставку.</p>

            <h5><i class="fas fa-check-circle indigo-text pr-2"></i> Экономия на доставке в Россию</h5>
            <p>На складе форвардера посылки из разных интернет-магазинов переупаковываются и объединяются в одну или несколько больших посылок, которые едут в Россию. Переупаковка уменьшает совокупный вес посылки, а объединение позволяет пользоваться чуть более выгодными тарифами.</p>
            <p>В целом это дешевле, чем если бы каждая посылка из магазина через форвардера шла в Россию, и намного дешевле – чем если бы она отправляласть магазином в Россию напрямую.</p>

            <h5><i class="fas fa-check-circle indigo-text pr-2"></i> Возможность заказать в магазинах, у которых нет доставки в Россию</h5>
            <p>Часть интернет-магазинов в США/Европы вообще не отправляет в Россию. У нас такой проблемы нет.</p>

            <h5><i class="fas fa-check-circle indigo-text pr-2"></i> Минимум действий с вашей стороны</h5>
            <p>Вы собираете в одном месте – на нашем сайте – все ваши желаемые товары. Далее, после всех необходимых согласований, оплачиваете. И через некоторое время получаете посылку.</p>
            <p>Подробно процесс заказа описан в статье <a href="#">Как принять участие</a>.</p>

            <h5><i class="fas fa-check-circle indigo-text pr-2"></i> Наша гарантия</h5>
            <p>Мы гарантируем, что вы получите товар, или, в случае проблем с товаром, возврат денег от магазина/форвардера.</p>
            <p>Более подробно это описано в статье <a href="#">Наша гарантия</a>.</p>
        </div>
    </div>

{% endblock %}










