{% extends 'layout/base.html.twig' %}

{% block title %}Что и где можно купить{{ parent() }}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-sm-12 col-lg-8 offset-lg-2">
            <h1 class="align-self-center">Что и где можно купить</h1>
            <hr>

            <h2>Откуда можно заказать?</h2>
            <p></p>

            <p>Можно заказать любой товар в магазинах США:
            <ul>
                <li>отдельные карты (синглы) Magic:the Gathering, Pokemon, SW Destiny и других</li>
                <li>отдельные миниатюры </li>
            </ul>

                , бустеры, дисплеи, протекторы, коробочки, MTG, SW Destiny, Покемоны, настольные игры, миниатюры – все что угодно.
                ✅ Срок доставки примерно 2 недели до Воронежа.
                ✅ Стоимость доставки 10$ за кг (доллар по курсу ЦБ + ~1 рубль на дату списания).</p>




        </div>
    </div>

{% endblock %}
