{% extends 'emails/email_layout.html.twig' %}

{% block subject %}Password reseted – {{ '~site_name'|trans }}{% endblock %}

{% block body_text %}{% endblock %}

{% block body_html_content %}
    <p>
        Hi {{ user.name }}!
    </p>
    <p>
        You succesfully changed your password.
    </p>
    <p>
        Have a good day!<br>
        The RPG-helper team
    </p>
{% endblock %}
