{% extends 'emails/email_layout.html.twig' %}

{% block subject %}Пароль изменен – {{ app_site_name }}{% endblock %}

{% block body_text %}{% endblock %}

{% block body_html_content %}
    <p>
        Здравствуйте, {{ user.name }}!
    </p>
    <p>
        Вы успешно изменили ваш пароль.
    </p>
    <p>
        ––<br>
        Команда {{ app_site_name }}
    </p>
{% endblock %}
