<html>
<head>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script>
        function reload() {
            $.ajax({
                url: `product/12/editform`,
                type: "POST"
            }).then(function(response){
                $("#div").html(response.output + '<input type="button" id="reload_button" value="Regenerate!">');
                $("#reload_button").click(function() {
                    reload();
                });
            });
        }

        $(function() {
            reload();
        });
    </script>
</head>

<body>
<div id="div"></div>
</body>
</html>