{% extends 'layout/base.html.twig' %}

{% form_theme form 'form/errors.html.twig' %}

{% block title %}Добавить пасспорт{{ parent() }}{% endblock %}

{% block body %}
    {{ form_start(form) }}

    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <h1 class="mb-0 align-self-center">Добавить паспорт</h1>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 text-right">
            <button class="btn btn-sm btn-narrow btn-dark-green" type="submit" formnovalidate>
                <i class="fa fa-plus pr-1"></i> {{ button_label|default('Сохранить') }}
            </button>
        </div>
    </div>
    <hr>

    {{ include('user_passport/_form.html.twig') }}
{% endblock %}
